@model IEnumerable<agskeys.Models.customer_profile_table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MobileClienteleLayout.cshtml";
}

<div class="L1 navbar-header">
    <!-- <img src="images/bg.jpg"> -->
    <div class="container">
        <div class="row" style="background: #fa4e5a;">

            <div class="col-sm-12 col-xs-12 disp-name">
                <span class="col-sm-2 col-xs-2 " style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776; </span>

                <div id="L1-body">
                    <p class="col-sm-8 col-xs-8 ">Dashboard</p>
                    <a class="col-sm-2 col-xs-2 " onclick="goBack()" style="padding-top: 8px;"><i class="fa fa-angle-left"></i></a>
                </div>
                <p class="col-sm-12 col-xs-12 m-b-0" style="color:white; font-size:12px;">@DateTime.Now.ToString("dd-MM-yyyy")</p>
            </div>
            
        </div>
    </div>
</div>
<div class="L1 main-page" id="L-body" style="min-height:100%; margin-top:100px;">
    <div class="container">
        <div class="row">

            <div  class="crd-inline" >

                <div class="card" style="width:50%">
                    <div class="card-body crd-body1" style="background-image: linear-gradient(to right, #423db3, #7f49c3);">
                        <div style="width:40%; padding: 8px;">
                            @*<i class="fas fa-chart-line"></i>*@
                            <img class="img-responsive" src="~/ags-mobile/images/int1.png" />
                        </div>
                        <div style="width:60%">
                            <h3 class="f-w-700 text-c-blue" style="margin-top:5px;margin-bottom:5px">@ViewData["loancount"] </h3>
                            <h6 class="m-b-25">Total Loans</h6>
                          
                        </div>
                    </div>
                </div>

                <div class="card  " style="width:50%">
                    <div class="card-body crd-body1" style="background-image: linear-gradient(to right, #882e6f, #4e2a4b);">
                        <div style="width:40%;padding: 8px;">
                            @*<i class="fa fa-angle-left"></i>*@
                            <img class="img-responsive" src="~/ags-mobile/images/int2.png" />
                        </div>
                        <div style="width:60%">
                            <h3 class="f-w-700 text-c-yellow" style="margin-top:5px;margin-bottom:5px">@ViewData["interest"]%</h3>
                            <h6 class="m-b-25"> Interest</h6>
                           
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-xl-12">
            <div class="card proj-progress-card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <h6>Requeted Loan Amount</h6>
                            @*@{
                                    int requestloan = @Model.Sum(j => (Convert.ToInt64(j.requestloanamt)));
                                }*@
                            <h5 class="m-b-30 f-w-700 blue">@ViewData["requestamnt"]</h5>
                            @*<div class="progress">
                                <div class="progress-bar bg-c-red" style="width:100%"></div>
                            </div>*@
                            <div class="progress blue">
                                <span class="progress-left pleft1">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right pright1">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value p1">100%</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <h6>Sanctioned Amount</h6>
                            <h5 class="m-b-30 f-w-700 green">@ViewData["loanamnt"]</h5>
                            @*<div class="progress">
                                <div class="progress-bar bg-c-blue" style="width:@ViewData["sanction_percentage"]%"></div>
                            </div>*@
                            <div class="progress green">
                                <span class="progress-left pleft2">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right pright2">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value p2">@ViewData["sanction_percentage"]%</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <h6>Disbursed Amount</h6>
                            <h5 class="m-b-30 f-w-700 yellow">@ViewData["disbursementamnt"]</h5>
                            @*<div class="progress">
                                <div class="progress-bar bg-c-green" style="width:@ViewData["disbursement_percentage"]%"></div>
                            </div>*@
                            <div class="progress yellow">
                                <span class="progress-left pleft3">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right pright3">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value p3">@ViewData["disbursement_percentage"]%</div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            <h6>Balance Amount</h6>
                            <h5 class="m-b-30 f-w-700 red">@ViewData["balance"]</h5>
                            @*<div class="progress">
                                <div class="progress-bar bg-c-yellow" style="width:@ViewData["balance_percentage"]%"></div>
                            </div>*@

                            <div class="progress red">
                                <span class="progress-left pleft4">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right pright4">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value p4">@ViewData["balance_percentage"]%</div>
                            </div>



                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
