@model agskeys.Models.ChangePassword
<div class="modal-body">
    <div class="row align-items-end">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <button type="button" class="close" style="font-size:30px" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="L1 " id="L-body" >
        <div class="container">
           
            <div class="row">
                <div class="col-sm-12" >
                    <div class="col-sm-12 col-xs-12" style="margin-bottom:25px;text-align: center; ">
                        <h3 >Change Password</h3>
                        </div>
                        <!-- Authentication card start -->
                        <div class="card">
                            <div class="card-body">

                                <div class="auth-box card">
                                    <div class="card-block">
                                        @if (TempData["Message"] != null)
                                        {

                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                @TempData["Message"].ToString()
                                            </div>

                                        }


                                        @using (Html.BeginForm("Password", "MobileClientele", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @*@if (TempData["Message"] != null)
                                {

                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        @TempData["Message"].ToString()
                                    </div>

                                }*@
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group form-primary">
                                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-12 float-label" })
                                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control formenquiry", @placeholder = "Oldpassword" } })
                                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group form-primary">

                                                @Html.LabelFor(model => model.newpassword, htmlAttributes: new { @class = "control-label col-md-12 float-label" })
                                                @Html.EditorFor(model => model.newpassword, new { htmlAttributes = new { @class = "form-control formenquiry", @placeholder = "Newpassword" } })
                                                @Html.ValidationMessageFor(model => model.newpassword, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group form-primary">

                                                @Html.LabelFor(model => model.retypepassword, htmlAttributes: new { @class = "control-label col-md-12 float-label" })
                                                @Html.EditorFor(model => model.retypepassword, new { htmlAttributes = new { @class = "form-control formenquiry", @placeholder = "Retypepassword" } })
                                                @Html.ValidationMessageFor(model => model.retypepassword, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="row m-t-30">
                                                <div class="col-md-12">
                                                    <button type="submit" value="Change Password" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" style="background-color: #d91f27; border-color: white;">Change Password</button>

                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

            </div>
        </div>
    </div>
</div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
