
@model agskeys.Models.loan_track

<style>
    .card .card-header h6 {
        margin-bottom: 0;
        color: #333;
        font-size: 15px;
        font-weight: 700;
        display: inline-block;
        margin-right: 10px;
        line-height: 1.1;
        position: relative;
    }

    .tbl th i {
        border-radius: 50%;
        border: 2px solid #fff;
        -webkit-box-shadow: 0 5px 10px 0 rgba(43,43,43,0.2);
        box-shadow: 0 5px 10px 0 rgba(43,43,43,0.2);
        padding: 10px;
        color: white;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    p {
        margin-top: 0;
        margin-bottom: 0rem;
    }
    /*track*/

    .i-track {
        padding: 5px 40px;
        font-size: 20px;
        width: 30%;
        margin-right: 20px;
    }
</style>
<div class="modal-body">
    <div class="row align-items-end">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <button type="button" class="close" style="font-size:30px" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h4 style="margin-bottom:25px;">Employee Track Information</h4>
                        <table id="alt-pg-dt" class="table table-striped table-bordered nowrap" style="line-height:.8;">


                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.employee_track)
                                {
                                    i++;
                                    @*<tr>
                                        <td>@i</td>
                                    </tr>*@
                                    <tr style=" background: #fa4e5a;">
                                        <td colspan="2" style=" background: #fa4e5a;color:white;"> <i class="fa fa-calendar" style=" margin-right: 20px;"> </i> @Html.DisplayFor(modelItem => item.tracktime)</td>
                                    </tr>
                                    <tr>
                                        <td max-width="10%"><i class="fa fa-map-marker i-track"></i></td>
                                        <td min-width="90%"> @Html.DisplayFor(modelItem => item.employeeid)</td>
                                    </tr>
                                   
                                    <tr>
                                        <td width="10%"> <i class="fa fa-comments i-track"> </i></td>
                                        <td width="90%">
                                            @if (!string.IsNullOrEmpty(item.internalcomment))
                                            {
                                                @Html.DisplayFor(modelItem => item.internalcomment)
                                            }
                                            else
                                            {
                                                <p>Internal Comment Not Updated</p>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%"><i class="fa fa-hourglass-end  i-track"> </i> </td>
                                        <td width="90%">
                                            @if (!string.IsNullOrEmpty(item.externalcomment))
                                            {
                                                @Html.DisplayFor(modelItem => item.externalcomment)
                                            }
                                            else
                                            {
                                                <p>External Comment Not Updated</p>
                                            }
                                            @if (!string.IsNullOrEmpty(item.followupdate))
                                            {
                                                <p style="margin-top:8px;">@Html.DisplayFor(modelItem => item.followupdate)<br /><span style="margin-top:6px;">(Follow up Date)</span></p>
                                            }
                                            else
                                            {
                                                <p style="margin-top:1px;"><span style="margin-top:1px;">Follow up Date Not Updated</span></p><br />
                                            }
                                        </td>
                                    </tr>
                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
