@model IEnumerable<agskeys.Models.proof_table>

@{
    ViewBag.Title = "Proof";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-users bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Proofs</h5>
                    <span>Agskeys</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Proofs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-block">
                        <div class="dt-responsive table-responsive">
                            <p>
                                <button onclick="createModal('@Url.Action("Create", "AdminProofs")')" class="btn waves-effect waves-light hor-grd btn-grd-primary"><i class="fa fa-user-plus"></i>Create</button>
                            </p>
                            <table id="alt-pg-dt" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Proofs Name
                                        </th>
                                        <th>
                                            Order
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.proofname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.porder)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.status)
                                            </td>                                            
                                            <td>
                                                <a href="#" id="edit" onclick="createModal('@Url.Action("Edit", "AdminProofs" , new {id=item.id })')"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a>
                                                @*<a href="#" id="details" onclick="createModal('@Url.Action("Details", "SuperAdmin" , new {id=item.id })')"><i class="icon feather icon-info f-w-600 f-16 m-r-15" style="color:#0042fb;"></i></a>*@
                                                <a href="#" id="delete" onclick="createModal('@Url.Action("Delete", "AdminProofs" , new {id=item.id })')"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Proofs Name
                                        </th>
                                        <th>
                                            Order
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">
    </div>
</div>
@*<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modelContent">
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

    </script>
    <script>
        function createModal(url){
              $('#modelContent').load(url);
              $('.modal').modal('show');
        }
    </script>*@



















