@model IEnumerable<agskeys.Models.loan_table>
@{
    ViewBag.Title = "Loan";
    Layout = "~/Views/Shared/_MobileVendorLayout.cshtml";
}
<div class="L1 navbar-header">
    <!-- <img src="images/bg.jpg"> -->
    <div class="container">
        <div class="row" style="background: #fa4e5a;">
            <div class="col-sm-12 col-xs-12 disp-name">
                <span class="col-sm-2 col-xs-2 " style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776;</span>
                <div id="L1-body">
                    <p class="col-sm-8 col-xs-8">Loan</p>
                    <a class="col-sm-2 col-xs-2" onclick="goBack()" style="padding-top: 8px;"><i class="fa fa-angle-left"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="L1 main-page" id="L-body" style="min-height: 100%;">
    <div class="container">
        <div class="row " id="sec">



        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:20px;">
                <p>
                    <button onclick="createModal('@Url.Action("Create", "MobileVendor")')" class="btn waves-effect waves-light hor-grd btn-grd-primary" style="background: #13ad02;color: white;"><i class="fa fa-user-plus"></i> Create Customer</button>
                </p>
            </div>
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                i++;
                <div class="col-md-12" style="margin-top:20px;">
                    <div class="card-block p-b-0">

                        <div class="table-responsive">
                            <table class="table ">

                                <tbody class="loan-table">
                                    <tr style="background-image: linear-gradient(to right, #000, #ff9393);margin-top: 10px !important;color: white; font-size: 18px;font-weight: bold;">

                                        <th colspan="2">@i. @Html.DisplayFor(modelItem => item.loantype)</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            Customer Name (ID)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.employeetype)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Sanctioned Amount
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.loanamt)
                                        </td>
                                    </tr>
                                    <tr style="background:#e4e0e0;">
                                        <th>
                                            Disbursed Amount
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.disbursementamt)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Status
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.loanstatus)
                                        </td>
                                    </tr>
                                    <tr style="background:#e4e0e0;">

                                        <td colspan="2">
                                            <a class="btn btn-primary" href="#" id="details" data-toggle="tooltip"  data-html="true" title="Details"  onclick="createModal('@Url.Action("Details", "MobileVendor" , new {id=item.id })')"> <i class="fa fa-info-circle" style="color:#fff;"></i> </a>

                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>