@model agskeys.Models.loan_table

<div class="modal-body">
    <!-- [ breadcrumb ] start -->
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-user bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Loan Details</h5>
                        <span>Agskeys</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <button type="button" class="close" style="font-size:30px" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-block " style="background: linear-gradient(to right, #e2e2e2  50%, #ffff0000 50%);box-shadow: 0 0 55px 0 rgba(43,43,43,0.1),0 11px 6px -7px rgba(43,43,43,0.1);">

                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-sm-6 col-md-6">
                                        <center style="padding-bottom:30px;">
                                            @{if (ViewBag.profileimg != null)
                                                {
                                                    <img class="rounded" width="150" height="150" src="@Url.Content(ViewBag.profileimg)" style="border-radius: 6.25rem!important;box-shadow: 0 0 55px 0 rgba(43,43,43,0.1),0 11px 6px -7px rgba(43,43,43,0.1);">
                                                }
                                                else
                                                {
                                                    <img class="rounded" width="150" height="150" src="~/adminimage/dummyemployee.png" style="border-radius: 6.25rem!important;box-shadow: 0 0 55px 0 rgba(43,43,43,0.1),0 11px 6px -7px rgba(43,43,43,0.1);">
                                                }

                                            }
                                            <div class="form-group prf row">
                                                <label class="col-sm-12 col-form-label">@Html.DisplayFor(model => model.customerid)<span style="color:#808080"> ( Customer Id )</span></label>
                                            </div>
                                            <div class="form-group prf row">
                                                <label class="col-sm-12 col-form-label">@ViewBag.name <span style="color:#808080"> ( Customer Name )</span></label>
                                            </div>
                                            <div class="form-group prf row">
                                                <label class="col-sm-12 col-form-label">@ViewBag.phoneno <span style="color:#808080"> ( Phone Number )</span></label>
                                            </div>
                                            <div class="form-group prf row">
                                                <label class="col-sm-12 col-form-label">@ViewBag.email <span style="color:#808080"> ( Customer Email )</span></label>
                                            </div>

                                        </center>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <h4 style="margin-bottom:25px;">Additional Information</h4>
                                        <table class="table">
                                            <tr>
                                                <th><i class="fa fa-envelope" aria-hidden="true"></i></th>

                                                <td>@Html.DisplayFor(model => model.partnerid)</td>

                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-university" aria-hidden="true"></i></th>
                                                <td>@Html.DisplayFor(model => model.bankid)</td>

                                            </tr>
                                            <tr>
                                                <th><i class="fa fa-university" aria-hidden="true"></i></th>
                                                <td>@Html.DisplayFor(model => model.loantype)</td>

                                            </tr>                                           
                                            <tr>
                                                <th><i class="fa fa-rupee" aria-hidden="true"></i></th>
                                                <td>@Html.DisplayFor(model => model.requestloanamt)<span style="color:#808080"> ( @Html.DisplayNameFor(model => model.requestloanamt) )</span></td>

                                            </tr>                                            
                                            @if (!string.IsNullOrEmpty(Model.sactionedcopy))
                                            {
                                                <tr>
                                                    <th><i class="fa fa-download" aria-hidden="true"></i></th>
                                                    <td><a id="oldSactionedCopy" href="@Url.Content(Model.sactionedcopy)" target="_blank">Download Sactioned Copy (Click here)</a></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th><i class="fa fa-download" aria-hidden="true"></i></th>
                                                    <td>Sactioned Copy Not Available Here</td>
                                                </tr>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.idcopy))
                                            {
                                                <tr>
                                                    <th><i class="fa fa-download" aria-hidden="true"></i></th>
                                                    <td><a id="oldIdCopy" href="@Url.Content(Model.idcopy)" target="_blank">Download DD Copy (Click here)</a></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th><i class="fa fa-download" aria-hidden="true"></i></th>
                                                    <td> DD Copy Not Available Here</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>